<h2> Meus Herois </h2>
<ul class="heroes">
  <!-- *ngFor Diretiva de repetição-->
  <!-- (click) listener for click event. onSelect is a method of Hero component-->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- Só mostra se `selectedHeroes` existir -->
<div *ngIf="selectedHero">
  <!-- Pipes servem para formatar strings e outros dados a serem mostrados-->
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label> name:
      <!-- os dados seguem em duas direções, do textbox para `hero.name` e de `hero.name` para o textbox-->
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>
